* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
}

.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}

.app h1{
    font-weight: 25px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color:black;
    font-weight: 600;
}

.btn {
    background-color: aqua;
    color:blueviolet;
    font-weight: 500px;
    width: 100%;
    border: 1px solid greenyellow;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn.hover:not([disbled]){
    background: pink;
    color: darkkhaki;
}

